<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kevindiana.forestdefence20">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Game"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="com.kevindiana.forestdefence20.Game" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Game_Chooser"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.kevindiana.forestdefence20.Game_Chooser" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".End_Of_Game"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.kevindiana.forestdefence20.End_Of_Game" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HeroSelect"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="com.kevindiana.forestdefence20.HeroSelect" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".How2"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="com.kevindiana.forestdefence20.How2" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>